Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

.deps
.libs
*.pc
*.c
*.h
*.o
*.vala.stamp

examples/ecore-glib/ecore-glib
examples/ecore-signals/ecore_signals
examples/ecore/ecore
examples/edje/edje
examples/eina/eina
examples/elementary/elementary-vapi
examples/elementary/note.txt
examples/library/viewstates/viewstates
